* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.creator-name::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;

  background-color: #000000;
  transition: 0.3s;
  position: relative;
}

.creator-name:hover::after {
  width: 100%;
}

.header {
  max-width: 920px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: var(--borda); */
}

.header-menu {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.menu-item {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: var(--texto);
  font-size: var(--font-size);
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.5s, color 0.5s;
}

.menu-img {
  width: 20px;
  height: 20px;
  margin: 0px;
  justify-content: center;
  align-items: center;
}
.header-menu a {
  display: flex;
}

.github-logo {
  content: "";
  background-image: url(../img/github-mark-white2.png);
  display: flex;
  margin-left: 13rem;
  margin-top: -2.5rem;
  width: 40px;
  background-color: #000;
  border-radius: 50%;
}

/* Icon - menu header */
.experiencia-projetos {
  display: flex;
  padding-left: 0.5rem;
  width: 1rem;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: -1.25rem;
}

.cursos-formacao {
  display: flex;
  padding-left: 0.5rem;
  width: 1rem;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: -1.25rem;
}

.whats-contato {
  display: flex;
  padding-left: 0.5rem;
  width: 1rem;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: -1.25rem;
}

/* @media */
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}

/* Button */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

/* Animação */
.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.3s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #111111;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #85848415;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 12px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
